.navbar{
    
}
.navbarHead{
    margin-left:5%; 
    font-weight: 600;
    font-size: 22px;
}
.navbarContainer{
    margin-right:2%;
    color:grey;
}
.navbarList{
    margin-right:5%;
    width:100%;
    font-size: 15px;
    font-weight: 500;
}
.navbarLista{
    margin-right:5%;
    width:100%;
    font-size: 12px;
    font-weight: 500;
}
.username{
    font-size: 17px;    
    font-weight: 500;
    color:white;
    margin-right:5%;
}
.navbarList>a{
    color:rgb(22, 18, 18);
}
.navbarList>a:hover{
    color:#caccce;
}
.navbar-nav{
    margin-right:15%;
}
.navbarListLogout{
    margin-right: 5%;
}
.navbarListLogout>a{

    color: white;
}
.navbarListLogout>a:hover{
    color:#caccce;
    text-decoration: none;
}
.target:active, 
  .target:focus {
    background-color:rgb(117, 114, 124);

  }
.active
{
    color:aqua;
} 
/* a:link {
    color: green;
    background-color: transparent;
    text-decoration: none;
  } */
  /* a:visited {
    color: pink;
    background-color: transparent;
    text-decoration: none;
  }
  a:hover {
    color: red;
    background-color: transparent;
    text-decoration: underline;
  }
  a:active {
    color: yellow;
    background-color: transparent;
    text-decoration: underline;
  } */