<br>
<br>
<br>
<body>
 <div  *ngIf="companyDetails" class="table-responsive-md" id="" > 


    <table class="table table-borderless table-hover">
    
        <thead class="thead-light">
            <tr>
                <th>Company Name</th>
                <th>Open Rate</th>
                <th>Close Rate</th>
                <th>Today's Peak Price</th>
                <th>Today's Low Price</th>
                <th>Current Rate</th>
                <th>Year Low</th>
                <th>Year High</th>
                
            </tr>
            </thead>

            <tbody>
                <tr *ngFor="let elements of companyDetails
                | paginate
                : {
                    itemsPerPage: itemsPerPage,
                    currentPage: page,
                    totalItems: 55
                  }
                  "
                  >
                    <td>{{elements.name}}</td>
                    <td>{{elements.open_rate|currency:'INR':'symbol'}}</td>
                    <td>{{elements.close_rate|currency:'INR':'symbol'}}</td>
                    <td>{{elements.peak_rate|currency:'INR':'symbol'}}</td>
                    <td>{{elements.least_rate|currency:'INR':'symbol'}}</td>
                    <td>{{elements.current_rate|currency:'INR':'symbol'}}</td>
                    <td>{{elements.year_low|currency:'INR':'symbol'}}</td>
                    <td>{{elements.year_high|currency:'INR':'symbol'}}</td>
                    <!-- <td>
                        <button (click)="goToDetailedView(elements.company_id)" type="button" class="btn btn-primary sell">Details</button>
                    </td>
                    <td>                                 
                        <button (click)="goToBuyPage(elements.company_id)" type="button" class="btn btn-warning">Buy</button>
                    </td>
                    <td>
                        <button (click)="addToWatchlist(elements.company_id, elements.name)" type="button" class="btn btn-dark sell">Watch</button>
                    </td> -->
                </tr>                           
            </tbody>
    </table>

</div>

</body>
<div class="pages container">
    <pagination-controls
      class="pagi"
      (pageChange)="gty((page = $event))"
    ></pagination-controls> 
    </div>