.col
{
    margin: 2%;
    border-radius: 7px;
}
button{
    /* background-color:aliceblue; */
    margin: 3px 1px;
    border-radius: 8px;
    color:black; 

}
#remove
{
    background-color:red;
  color: aliceblue;
}
#details
{
    background-color: #7b8ce0;
    color:white;
}
.target{
background-color:#2b9997;
}
.target:active, 
  .target:focus {
    background-color:rgb(117, 114, 124);

  }
 
  .noData
{
    margin-top:2%;
    font-size: 25px;
    color:rgb(23, 49, 48);
    /* font-weight: 600; */
}
.watchlist-list
{
  max-height: 200px;
  height:200px;
  padding: 50px;
  align-content: center;
  justify-content: center;
  align-items: center;
  border:2px solid black;
   /* background-color: #c2acac;  */
  
}