
<br>
<br>
<br>
<div class="main">
<h2 style="text-align: center;">Watchlists</h2>
</div>
<!-- div class="container"> -->
  <div class="row">
<div class=" col col-2 watchlist-list" >
    <!-- <button type="button" (click)="viewWatchlist1()" class="target btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off">
       watchlist1
      </button> -->
   <button (click)="viewWatchlist1()" class="target btn">watchlist1</button> <br>
   <!-- <button (click)="gotowatchlist1()">watchlist1</button><br> -->
    <button (click)="viewWatchlist2()" class="target btn ">watchlist2</button><br>
    <button (click)="viewWatchlist3()" class="target btn ">watchlist3</button>
    
</div>

<div class="col col-9">
     
    <div class="heading">
        <!-- select a watchlist to view stocks -->
        <div *ngIf="!watchList1">
            <br>
            <br>
             <h5 style="text-align: center;">No stocks in your {{watchlistname}} !</h5>
         </div>
      <div *ngIf="watchList1" class="table-responsive-md watchlist" id=""> 
        <h2 style="text-align: center;">{{watchlistname}}</h2>
          <table class="table table-borderles table-hover">
                  <thead class="thead-light">
                  <tr>
                      
                      <th>Company Name</th>
                      <th>Open Rate</th>
                      <th>Close Rate</th>
                      <th>Today's Peak Price</th>
                      <th>Today's Low Price</th>
                      <th>Current Rate</th>
                      <th>Year Low</th>
                      <th>Year High</th>
                      <th>Action</th>
                      <th>Action</th>
                      <th>Action</th>
                  </tr>
                  </thead>
  
                  <tbody>
                      <tr *ngFor="let elements of watchList1">
                          <td>{{elements.name}}</td>
                          <td>{{elements.open_rate}}</td>
                          <td>{{elements.close_rate}}</td>
                          <td>{{elements.peak_rate}}</td>
                          <td>{{elements.least_rate}}</td>
                          <td>{{elements.current_rate}}</td>
                          <td>{{elements.year_low}}</td>
                          <td>{{elements.year_high}}</td>
                          <td>
                              <button (click)="goToDetailedView(elements.company_id)" type="button" class="btn btn-secondary" id="details">Details</button>
                          </td>
                          <td>                                 
                              <button (click)="goToBuyPage(elements.company_id)" type="button" class="btn btn-info">Buy</button>
                          </td>
                          <td>
                              <button (click)="removeFromWatchlist(elements.company_id)" type="button" class="btn btn-danger" id="remove"  >Remove</button>                        </td>
                      </tr>   
                      
                  </tbody>
          </table>        
      </div>
           
    


    <!-- <div class="container">
      <ag-grid-angular
      
      style="width: 500px ;height:500px;"
      class="ag-theme-balham"
      [rowHeight]="rowHeight"
      [rowData]="rowData | async"
      [columnDefs]="columnDefs"
      [pagination]="true"
      [paginationPageSize]=10
      [animateRows]="true"
      rowSelection="multiple"
      ></ag-grid-angular> 
      </div> -->
    <!-- //<app-watchlisthome> </app-watchlisthome> -->
</div>
</div>
<!-- </div> -->
